.section__central {
  background-color: $primary;
}

.test-wrapper {
  position: relative;
  width: 100%;
  z-index: 1;
}
.test {
  position: absolute;
  width: 98%;
  height: 160px;
  left: 10px;
  right: 10px;

  background-color: $secondary;
  z-index: 1;
}

.card__title-box {
  min-width: 340px;
  max-width: 98%;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  background-color: $secondary;
  & .behind__title {
    font-size: 16px;
    padding: 10px 0 0 100px;
  }
}
.opLogo {
  width: 50px;
  height: 50px;
  margin: 15px;
  align-self: flex-end;
}
.fa-github-square {
  color: $black;
  margin-bottom: 20px;
}
.central__box {
  margin: 0;
}
.card__box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  & .card {
    width: 170px;
    margin: 10px;
    background-color: $primaryDark;
    text-align: center;
    z-index: 2;
  }
}
.nav__box {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}
// colors

.fa-html5 {
  color: $html5;
}
.fa-css3-alt {
  color: $css3;
}
.fa-sass {
  color: $sass;
}
.fa-chart-line {
  color: $seo;
}
.fa-universal-access {
  color: $wcag;
}
.fa-js-square {
  color: $js;
}
.fa-bootstrap {
  color: $bootstrap;
}
.fa-node-js {
  color: $node;
}
.fa-database {
  color: $bdd;
}
.fa-vuejs {
  color: $vue;
}
