.first__section {
  background-color: $primaryLight;
}

.section__box {
  background-color: $primaryLight;
  height: 50px;
}
.section__box-top {
  min-width: 360px;
  max-width: 1440px;
  box-shadow: 5px 5px 5px $primary;
}
.section__box-top,
.section__box-central {
  position: relative;
  bottom: 35px;
  margin: 10px;
}

.section__box-bottom {
  position: relative;
  top: 50px;
  z-index: 1;
  margin: 0 0 20px 5px;
}
.section__title {
  text-align: right;
  margin: 0;
  padding: 10px 15px;
}
.name__box {
  width: 280px;
  height: 75px;
  background-color: $primaryLight;
  position: absolute;
  z-index: 1;
  top: 24%;
  left: 3%;
  top: 210px;
  left: 60px;
  border-radius: 10px 10px 0 0;
  text-align: center;
  & .name__text {
    margin: 0;

    font-size: 3em;
    font-weight: lighter;
  }
}

/* article style */
.article__box-top,
.article__card-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  text-align: center;
}
.article__card {
  min-width: 320px;
  max-width: 465px;
  height: 420px;
  margin: 5px auto;
  background-color: $secondary;
  box-shadow: 10px 5px 5px $primary;
}
.list__title {
  font-weight: bold;
  font-size: 20px;
}
.list__item {
  list-style-type: "-";
  font-weight: lighter;

  text-align: start;
}
.list__p {
  margin: 20px;
  font-size: 16px;
}
/* centrale section  */

.section__box-width {
  width: 100%;
  margin: 0;
}
.section__central,
.section__wrapper {
  background-color: $primary;
}

.article__box-central {
  background-color: $secondary;
  width: 98%;
  height: 180px;
  margin: 0 auto;
}
.article__card-color {
}
.card__box {
  background-color: $primaryDark;
  width: 150px;
  margin: 5px;
}

.section__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
}
.section__box-split {
  background-color: hotpink;
}
.article__box-bottom {
  background-color: $secondary;

  max-width: 720px;
  min-width: 310px;
  height: 600px;
  text-align: center;
}
body {
  background-color: $primary;
}
.list__size {
  text-align: center;
}
