.separation__box {
  width: 99%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}
.left__container {
  display: flex;
  width: 50%;
  min-width: 350px;
}

.small__part {
  width: 60px;
  height: 40px;
  background-color: $primaryLight;
  align-self: flex-end;
}
.name__box {
  min-width: 200px;
  height: 55px;
  border-radius: 15px 15px 0 0;
  background-color: $primaryLight;
}
.left__part {
  width: 100%;
  height: 40px;
  background-color: $primaryLight;
  align-self: flex-end;
}

.right__container {
  width: 50%;
  min-width: 350px;
  align-self: flex-end;
}

.right__part {
  width: 100%;
  height: 40px;
}
.title__box {
  width: 100%;
  height: 40px;
  background-color: $primaryLight;
  text-align: right;
}

.title__font {
  font-size: 22px;
  font-weight: bold;
  position: relative;
  margin: 0 auto;
  padding: 5px 15px 0 0;
}
.name__font {
  font-size: 30px;
  color: $blue;
  text-align: center;
  position: relative;
  padding: 0 0 0 6px;
  bottom: 25px;
}
